$main-font: 'Avenir', sans-serif;

//Input
$input-font: $main-font;
$input-size: 12px;
$input-weight: 500;
$input-line-height: 16.39px;

//Buttons
$button-font: $main-font;
$button-size: 14px;
$button-weight: 800;
$button-line-height: 19.12px;