:root[data-theme="light"] {
  /* COLOR */
  --blue-2: rgb(45, 156, 219);
  --blue-3: rgb(86, 204, 242);
  --main-black: rgb(27, 27, 27);
  --main-green: rgb(0, 202, 8);
  --main-green-light: rgb(149, 248, 153);
  --main-grey: rgb(196, 196, 196);
  --main-grey-dark: rgb(128, 128, 128);
  --main-grey-light: rgb(244, 244, 244);
  --main-red: rgb(255, 26, 26);
  --main-red-dark: rgb(200, 0, 0);
  --main-red-light: rgb(255, 223, 223);
  --main-white: rgb(255, 255, 255);
  --main-yellow: rgb(255, 207, 15);
  --main-yellow-dark: rgb(241, 196, 15);
  --main-yellow-light: rgb(255, 234, 149);
  --main-yellow-lighter: rgb(254, 249, 231);
  --orange: rgb(242, 153, 74);
  --red: rgb(235, 87, 87);
  --yellow: rgb(242, 201, 76);
}
