// --------------------------------------------------
// Z-index
// --------------------------------------------------

$zindex: (
  below: -1,
  default: 1,
  above: 2,
  backdrop: 4,
  modal: 5,
);
